# Python
__pycache__/
*.py[cod]
*$py.class

# Temporary Folders
_tmp_gradio_seg/

# Project Specific
trellis2/setup.sh

# Others
.DS_Store
.venv/
env/
venv/
node_modules/
dist/
build/
*.bak
*.swp
*.tmp
pretrained_model/
